* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: black;
}

.darktheme {
    background-color: black !important;
    color: white !important;
}


header {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#time {
    padding-top: 200px;
    font-size: 150px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn-container {
    padding-top: 100px;
    display: flex;
    gap: 60px;
}



button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #23ce29;
    --button_outline_color: #000000;
    width: 100px;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}